@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 1200px;
  margin: 0 auto;
}

.page-navigation {
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
}

.logo-header-link {
  margin-right: 30px;
}

.page-header-list {
  list-style: none;
  display: flex;
  width: 339px;
  justify-content: space-between;
  padding: 20px 16px;
  margin: 0;

  align-items: center;
}

.user-navigation {
  width: 268px;
  margin: 0;
  margin-left: 285px;
  padding-right: 0;
  padding-left: 12px;
}

.head-list-item {
  margin-right: 16px;
}

:nth-last-child(.head-list-item) {
margin-right: 0;
  }

.search {
  background-image: url(../images/header-search.svg);
  background-repeat: no-repeat;
}

.item-link-navigation {
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.header-button-link {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.want-it {
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 34px;
}

.main-inner{
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.page-main {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.hero-section {
  background-image: url(../images/sedona-index-background.jpg);
  background-color: lightblue;
  background-repeat: no-repeat;
  text-align: center;
  background-size: cover;
  min-height: 485px;
  margin-top: -6px;
}

.main-img {
  margin-top: 51px;
}

.decription-section {
  padding: 69px 0 69px 0
}

.description-paragraph {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #000000;
  width: 620px;
  margin: 0 auto;
}

.reason-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}

.advantages-section-description
{
 display: flex;
 flex-wrap: wrap;
}

.advantages-title {
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 62px;
  width: 175px;
}

.advantages-paragraph {
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
  padding: 0;
  margin: 0;
  width: 230px;
  text-align: center;
}

.blue-paragraph-advantages {
  background-color: #82B3D3;
  color: #FFFFFF;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.advantages-title-first {
 color: #FFFFFF;
 text-align: center;
}

.advantages-title-last {
  color: #FFFFFF;
}

.first-advnatages {
  display: flex;
}
.fith-advantages {
  display: flex;
  flex-direction: row-reverse;
}

 .second-advantages {
  background-color: #83B3D31F;
  text-align: center;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
}

.third-advantages {
  background-color: #83B3D333;
  text-align: center;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
}

.fourth-advatages {
  background-color: #83B3D31F;
  text-align: center;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
}

.add-information {
  padding-top: 64px;
  padding-bottom: 64px;
  margin: 0;
}

.description-paragraph-information {
  width: 505px;
}

.service-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.service-title {
  color: #000000;
}

.service-item h4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.service-paragraph {
  width: 230px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.service-item {
  margin: 0;
  padding: 0;
}

.service-souvenirs-blue-block {
  background-color: #83B3D31F;
  text-align: center;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
}

.service-eat-white-block {
  background-color: #FFFFFF;
  text-align: center;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
}

.service-living-blue-block {
  background-color: #83B3D31F;
  text-align: center;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 385px;
}

.service-section {
  text-align: center;
}

.search-section {
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-section-group {
  width: 592px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.search-section h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.search-paragraph-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.hotel-link-button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  padding: 8px 50px;
}

.subscribe-section-main {
  text-align: center;
  background-image: url(../images/subscribe-background.jpg);
  background-color: lightblue;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  margin-top: 0;
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 104px;
}
.subscribe-section-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-paragraph {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  width: 475px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-form-mail {
  margin: 0;
}

.subscribe-email {
  font-family: "PT Sans";
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
  border: 0;
  border-radius: 4px 0 0 4px;
  min-width: 452px;
  min-height: 52px;
}

.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 8px 50px;
  border: 0;
  border-radius: 0 4px 4px 0;

}

.page-footer {
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 40px 70px 30px 70px;
}


.footer-phone-link {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-social-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-vkontakte-item {
  background-image: url(../images/vkontakte-icon.svg);
  background-repeat: no-repeat;
  background-size: 24px 14px;
}

.footer-telegram-item {
  background-image: url(../images/telegram-icon.svg);
  background-repeat: no-repeat;
  background-size: 18px 16px;
}

.footer-youtube-item {
  background-image: url(../images/youtube-icon.svg);
  background-repeat: no-repeat;
  background-size: 22px 17px;
}

.main-inner {
  background-color: #FFFFFF;
}

.header-inner {
  background-image: url(../images/hotels-filter-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
}

.inner-list {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.inner-link {
  text-decoration: none;
  color: #FFFFFF;
}


.inner-item-main {
  background-image: url(../images/inner-main-picture.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
}

.filter-inner-section {
  color: #FFFFFF;
  display: flex;
}

.buttons-group-filter {
  display: flex;
  flex-direction: column;
}

.catalog-filter-group {
  border: 0;
}

.catalog-filter-group-price {
  display: flex;
}

.catalog-select-group {
  display: flex;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-list {
  list-style: none;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-range {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: lowercase;
}

.button-active {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #82B3D3;
  padding: 8px 50px;
  border: 0;
  border-radius: 4px;
}

.button-inactive {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.hotel-card-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-hotels-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.select-switch {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 14px 131px 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.view-buttons-list {
  list-style: none;
}

.view-buttons-link {
  text-decoration: none;
  color: #333333;
}

.view-tile {
  background-image: url(../images/view-tile.svg);
  background-repeat: no-repeat;
  background-size: 16px 24px;
}

.view-card {
  background-image: url(../images/view-card.svg);
  background-repeat: no-repeat;
  background-size: 16px 24px;
}

.view-list {
  background-image: url(../images/view-list.svg);
  background-repeat: no-repeat;
  background-size: 16px 24px;
}

.hotel-card-list {
  list-style: none;
}

.subscribe-section-inner {
  text-align: center;
  background-color: #FFFFFF
}

.subscribe-section-inner h2 {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.hotel-name-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-more-button {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #756157;
  padding: 8px 26px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.hotel-add-favorites-button {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #82B3D3;
  padding: 8px 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.hotel-stars {
  background-image: url(../images/hotel-star-1.svg);
  background-repeat: no-repeat;
}

.hotel-rating {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 22px 8px 23px;
  color: #333333;
}

.pagination-list {
  list-style: none;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  padding: 11px;
  border-radius: 4px;
}

.current-pagination-link {
  color: #000000;
  background-color: #F2F2F2;
}
